<!-- <button class="btn btn-sm btn-primary m3" (click)="toggleSidebar()">{{showSidebar ? 'Hide Sidebar' : 'Show Sidebar'}}</button> -->

<!-- This is the LeftNavigation -->
<div class="container-fluid">
<div class="row">

  
<nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar p-3">
  <h2>This is LeftNavigation</h2>
<button class="btn btn-sm btn-primary m3" (click)="toggleSidebar()">{{showSidebar ? 'Hide Sidebar' : 'Show Sidebar'}}</button>
  
 
  <ul class="nav flex-column">
  

      <li class="nav-item">
      <a class="nav-link active" routerLink="/home">HOME</a>
    </li>

    <li class="nav-item">
      <a class="nav-link active" routerLink="/about">ABOUT</a>
    </li>

    <li class="nav-item">
      <a class="nav-link active" routerLink="/prize">PRIZE</a>
    </li>

    <li class="nav-item">
      <a class="nav-link active" routerLink="/form">FORM</a>
    </li>
      
    <li class="nav-item">
      <a class="nav-link active" routerLink="/contact-us">CONTACT US</a>
    </li>
      
      
  </ul>
</nav>
  


<!-- MAin Header Starts from Here -->

<main class="col-md-3 col-lg-10 px-md-4">
  <div class="container mt-4">

<h1> Basic Reactive Form</h1>

<!-- <form class="reactive-form">
  <label>Username</label>
  <input type="text" placeholder="Enter YOUR NAME "[formControl] ="name">
  <label>Password</label>
  <input type="password" placeholder="Enter your Password" [formControl]="password">

  <label>Confirm Your Password Again</label>
  <input type="password" placeholder="ReEnter Your Password" [formControl]="repassword">

  <button type="button" class="btn btn-success"(click)="displayValue()">Submit</button>


  <h3>this is the NAME"{{name.value}}"</h3>
  <h3>This is the password"{{password.value}}"</h3>
  <h3>This is the Repassword"{{repassword.value}}"</h3>
</form>

<button class="btn btn-primary" (click)="displayValue()">Click</button>

<button type="button" class="btn btn-outline-primary">Primary</button>

<button type="button" class="btn btn-primary btn-lg">Large Button</button>

<button type="button" class="btn btn-danger btn-block">Block Button</button> -->



<!-- Form Grouping --> <!--Form Validation-->
 <form  class="Form-Group" [formGroup]="ProfileForm">
  <input type="text" placeholder="name" formControlName="name">
  <span  *ngIf="name?.hasError('required')">Name is Required</span> <br><hr>

  <input type="password" placeholder="password" formControlName="password">
  <span  *ngIf="password?.hasError('required')">Password is Required</span> <br><hr>

  <input type="mail" placeholder="hello@mail.com" formControlName="mail">
  <span *ngIf="mail?.hasError('required')">Email is Required</span> <br><hr>

  <input type="search" placeholder="search" formControlName="search"> 
  <span *ngIf="search?.hasError('required')">Search Not found</span>

  <input type="range" formCOntrolName="range">
  <span *ngIf="range?.hasError('required')">Range is required</span>


  <!-- <input type="range" min="0" max="100" class="form-range" formCOntrolName="newRange" [formControl]="range"> -->

  <button type="button" (click)="displaygroup()" class="btn btn-danger" >PRINT</button>
  <button type="button" (click)="setValue()" class="btn btn-outline-success" >Update</button>

  <!-- <h5>{{ProfileForm.value}}</h5> -->
   <!-- <h5>{{range.value}}</h5> -->
 </form>


<br><hr>

<!-- VAlidation of Form -->

  <form  class="Form-Group" >
  <input  class='mb-3' type="text"  placeholder="name">
  <input class='mr-3' type="password" placeholder="password">
  <input class='ml-3' type="email" placeholder="hello@gmial.com" >
  <!-- <input type="range" min="0" max="100" class="form-range" [formControl]="range"> -->

  <br>

  <button type="button" (click)="displaygroup()" class="btn btn-danger" >PRINT</button>
  <button type="button" (click)="setValue()" class="btn btn-outline-success" >Update</button>

  <!-- <h5>{{ProfileForm.value}}</h5> -->
   <!-- <h5>{{range.value}}</h5> -->
 </form>





 <form class="Form-group" [formGroup]="footerForm" (ngSubmit)="onSubmit()">
  <textarea class="message" placeholder="message" rows="1" formControlName="message"></textarea>
  <!-- <button class="footer-button" (click)="displayfooter()" class="btn btn-outline-primary">FooterButton</button> -->
 </form>









<!-- Simple Reactive Form with all the controls -->
<div class="container mt-5">
  <form>
    <h2 class="mb-4">Simple Reactive Form</h2>

    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input type="text" class="form-control" id="name" placeholder="Enter your name" >
    </div>

    
    <div class="mb-3">
      <label for="email" class="form-label" >Email address</label>
      <input type="email" class="form-control" id="email" placeholder="name@example.com">
    </div>

    
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" >
    </div>

    
    <div class="mb-4">
      <label for="message" class="form-label">Message</label>
      <!-- <textarea class="form-control" id="message" rows="3" [formControl]="message"></textarea> -->
      <!-- <h5>{{message.value}}</h5> -->
    </div>

    
    <div class="mb-3">
      <label class="form-label">Gender</label><br>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="gender" id="male" value="male">
        <label class="form-check-label" for="male">Male</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="gender" id="female" value="female">
        <label class="form-check-label" for="female">Female</label>
      </div>
    </div>

    
    <div class="mb-3">
      <label class="form-label">Hobbies</label><br>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="reading" value="reading">
        <label class="form-check-label" for="reading">Reading</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="traveling" value="traveling">
        <label class="form-check-label" for="traveling">Traveling</label>
      </div>
    </div>

    
    <div class="form-check form-switch mb-3">
      <input class="form-check-input" type="checkbox" id="subscribe">
      <label class="form-check-label" for="subscribe">Subscribe to newsletter</label>
    </div>

    
    <div class="mb-3">
      <label for="country" class="form-label">Country</label>
      <select class="form-select" id="country">
        <option selected>Select your country</option>
        <option value="0">INDIA</option>
        <option value="1">USA</option>
        <option value="2">Canada</option>
        <option value="3">UK</option>
      </select>
    </div>

    
    <div class="mb-3">
      <label for="skills" class="form-label">Skills</label>
      <select multiple class="form-select" id="skills">
        <option>Angular</option>
        <option>React</option>
        <option>Vue</option>
        <option>Node.js</option>
      </select>
    </div>

    
    <div class="mb-3">
      <label for="formFile" class="form-label">Upload Resume</label>
      <input class="form-control" type="file" id="formFile">
    </div>

    
    <div class="mb-3">
      <label for="customRange" class="form-label">Experience (years)</label>
      <!-- <input type="range" class="form-range" min="0" max="100" id="customRange" [formControl]="range"> -->
    </div>

    
    <div class="mb-3">
      <label for="dob" class="form-label">Date of Birth</label>
      <input type="date" class="form-control" id="dob">
    </div>

    <div class="mb-4">
      <label for="time" class="form-label">Time</label>
      <input type="time" class="form-control" id="time">
    </div>

    
    <div class="mb-3">
      <!-- <button type="submit" class="btn btn-primary" (click)="displayValue()" >Submit</button> -->
      <button type="reset" class="btn btn-outline-secondary">Reset</button>
    </div>
  </form>
  <!-- <ckeditor [editor]="Editor" [config]="config" data="<h1>This is the Example for the CKEDITOR</h1>"></ckeditor> -->
  
  <!-- <h3>"{{name.value}}""{{email.value}}""{{password.value}}""{{range.value}}"</h3> -->
</div>

</div>
</main>
</div>
</div>
